<?xml version="1.0" encoding="GBK"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dlut.mycloud.mycloudserver.dal.mapper.UserManageMapper">
	<resultMap id="RM-UserDO" type="UserDO">
		<result property="account" column="account" />
		<result property="password" column="password" />
		<result property="username" column="username" />
		<result property="role" column="role" />
		<result property="gmtCreate" column="gmt_create" />
		<result property="gmtModified" column="gmt_modified" />
	</resultMap>

	<sql id="select-param-column">
		account, username, password, role, gmt_create, gmt_modified
	</sql>

	<select id="getUserByAccount" resultMap="RM-UserDO">
		SELECT
		<include refid="select-param-column" />
		FROM ucloud_user where account = #{account}
	</select>

</mapper>